@model ICollection<User>
@{
    ViewData["Title"] = "Check Users";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add User</title>
    <link rel="stylesheet" href="~/css/ribbon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PostStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tableStyle.css" asp-append-version="true" />
</head>

<body>

    <div class="ribbon">
        <div class="project-name-container">
            <a class="text-style name">Mudli</a>
        </div>

        <div class="buttons-container">
            <a asp-action="Index" asp-controller="PublicCourse" class="text-style button">Public courses</a>
            <a asp-action="Index" asp-controller="Course" class="text-style button">My Courses</a>
            <a asp-action="Index" asp-controller="Home" class="text-style button">Log out</a>
        </div>
    </div>
    <div class="table-container">
        <h1>Users in this course</h1>
        <table class="rwd-table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Faculty</th>
                    <th>Specialization</th>
                    <th></th>
                </tr>
                @foreach (User user in Model)
                {
                    <tr>
                        <td data-th="Id">@user.UserId</td>
                        <td data-th="Name">@(user.Name + " " + user.Surname)</td>
                        <td data-th="Email">@user.Email</td>
                        <td data-th="Role">@user.Role.ToString()</td>
                        <td data-th="Faculty">@user.Faculty.ToString()</td>
                        <td data-th="Specialization">@user.Specialization.ToString()</td>
                        <td class="remove-user-column">
                            <form onsubmit="return confirm('Are you sure you want to remove @(user.Name + " " + user.Surname) from this course?');" method="post" asp-action="RemoveUser" asp-controller="Course">
                                <button type="submit" class="add-post" name="userIdString" value="@user.UserId">
                                    <span class="icon">-</span>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
                <tr>
                    <td class="add-user-cell">
                        <a class="add-post" href="/AddUser/@ViewBag.CurrentCourseId">
                            <span class="icon">+</span>
                        </a>
                    </td>
                    <td class="add-user-cell">
                        <a class="add-post" href="/RemoveUser/@ViewBag.CurrentCourseId">
                            <span class="icon">-</span>
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <a asp-action="Index" asp-controller="Course" class="back-btn" style="text-decoration: none; color: #ffffff;">Back</a>
    </div>
</body>
</html>