@model CourseViewModel
@{
    ViewData["Title"] = "Courses";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Courses</title>
        <link rel="stylesheet" href="~/css/ribbon.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/CoursesStyle.css" asp-append-version="true" />
    </head>

    <body>
        <div class="ribbon">
            <div class="project-name-container">
                <a class="text-style name">Mudli</a>
            </div>
            <div class="buttons-container">
                <a asp-action="Index" asp-controller="PublicCourse" class="button text-style">Public courses</a>
                <a asp-action="Index" asp-controller="Course" class="button text-style">My Courses</a>
                <a asp-action="Index" asp-controller="Home" class="button text-style">Log out</a>
            </div>
        </div>

        <div class="courses-header">
            <a>Courses</a>
        </div>
        <div>
            <div class="course-navigation-array">
                <form method="get" class="searchForm">
                    <input type="text" name="searchString" value="" placeholder="Search..."/>
                    <button type="submit" class="btn-primary">Search</button>
                </form>
                @if (Model.User.Role == Role.Lecturer)
                {
                    <button class="create-course-button">
                        <a asp-action="Create" asp-controller="Course">Create Course</a>
                    </button>
                }
            </div>

            <div class="container">
                <div class="card-group">
                    @foreach (Course course in Model.Courses)
                    {
                        <div class="card">
                            <a class="card-image" asp-action="Index" asp-controller="CourseEnvironment" asp-route-courseId="@course.CourseId">
                                <img src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d3JpdGluZyUyMGElMjBib29rfGVufDB8fDB8fHww&w=1000&q=80">
                            </a>
                            <div class="invisible-box"></div>
                            <a class="card-body" asp-action="Index" asp-controller="CourseEnvironment" asp-route-courseId="@course.CourseId">
                                <div class="course-title-holder">
                                    <h3>@course.Name</h3>
                                </div>
                                <div class="course-description-holder">
                                    <p>@course.Description</p>
                                </div>
                            </a>
                            <div>
                            @if (Model.User.Role == Role.Lecturer)
                            {
                                <button class="showButtons">
                                    <img src="~/dots.png">
                                </button>
                                <span class="hidden-buttons">
                                    <a class="hidden-button" asp-action="CheckUsers" asp-controller="Course" asp-route-courseId="@course.CourseId">Check Users</a>
                                    <a class="hidden-button" asp-action="Edit" asp-controller="Course" asp-route-courseId="@course.CourseId">Edit</a>
                                    <a class="hidden-button" asp-action="Delete" asp-controller="Course" asp-route-courseId="@course.CourseId">Delete</a>
                                </span>
                            }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="ribbon"></div>
    </body>
</html>
<script>
    // shows hidden buttons
    var showButtons = document.querySelectorAll(".showButtons");
    showButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            var hiddenButtons = button.nextElementSibling;
            if (hiddenButtons.style.display === "none" || hiddenButtons.style.display === "") {
                hiddenButtons.style.display = "flex";
            } else {
                hiddenButtons.style.display = "none";
            }
        });
    });
</script>
