@model TextPost
@{
	ViewData["Title"] = "Edit Link Post";
}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Edit Link Post</title>
		<link rel="stylesheet" href="~/css/CreateCourseStyle.css" asp-append-version="true" />
	</head>

	<body>
		<div class="ribbon">
			<div class="Name">
				<a>Mudli</a>
			</div>
		</div>
		<form method="post" asp-controller="CourseEnvironment" asp-action="EditTextPost">

			<div class="form-container">
				<h2>Edit a Text Post</h2>
			</div>
			<input type="hidden" id="courseId" name="courseId" asp-for="CourseId" value="@Model.CourseId" />
			<input type="hidden" id="PostType" name="PostType" asp-for="PostType" value="@Model.PostType" />
			<input type="hidden" id="CreationDate" name="CreationDate" asp-for="CreationDate" value="@Model.CreationDate" />
			<input type="hidden" id="PostId" name="PostId" asp-for="PostId" value="@Model.PostId" />
			<div class="form-info-container">
				<label for="Name">Name:</label>
				<input type="text" id="Input.Name" name="name" asp-for="Name" class="form-control" required />
				<span class="text-danger"></span>
			</div>

			<div>
				<label for="Visibility" class="radio-label">
					Is post visible?
				<input type="checkbox" id="Visibility" asp-for="IsVisible" class="form-control" />
				</label>
			</div>
			<span class="text-danger"></span>

		<div class="form-info-container">
			<label for="TextContent">Text Data</label>
			<input type="text" id="TextContent" name="TextContent" asp-for="TextContent" class="form-control" required />
			<span class="text-danger"></span>
		</div>

			<button type="submit" class="btn-primary">Edit Post</button>
			<a asp-action="TeacherIndex" asp-controller="CourseEnvironment" asp-route-courseId="@Model.CourseId" class="text-style" style="text-decoration: none; color: #ffffff;">Back</a>
		</form>
	</body>
</html>