@model User
@{
	ViewData["Title"] = "Registration";
	ViewData["Faculties"] = new string[]
		{
		"Mathematics and Informatics",
		"Chemistry and Geosciences",
		"Physics",
		"Filology"
		};
}
<link rel="stylesheet" href="~/css/RegistrationStyle.css" asp-append-version="true" />

<div class="ribbon">
	<div class="Name">
		<a>Mudli</a>
	</div>
</div>
<div class="form-align">
	<div class="registration-form">
		<div class="welcome-outline">
			<h2>Create an Account</h2>
		</div>
		<div class="form-container">
			<form method="post" asp-controller="Registration" asp-action="Login">
				<div class="form-group">
					<label for="Input.Name">Name:</label>
					<input type="text" id="Input.Name" name="name" asp-for="Name" class="form-control" value="@Model.Name" required />
				</div>
				<div class="form-group">
					<label for="Input.Surname">Surname:</label>
					<input type="text" id="Input.Surname" name="surname" asp-for="Surname" class="form-control" value="@Model.Surname" required />
				</div>
				<div class="form-group">
					<label for="Input.Email">Email:</label>
					<input type="email" id="Input.Email" name="email" asp-for="Email" class="form-control" value="@Model.Email" required />
				</div>
				<div class="form-group">
					<label for="Input.Password">Password:</label>
					<input type="password" id="Input.Password" name="password" asp-for="Password" class="form-control" value="@Model.Password" required />
				</div>
				<div class="form-group">
					<label for="faculty">Faculty:</label>
					@*.Gets this element*@
					<select id="faculty" name="Faculty" asp-for="Faculty" class="form-group1" required>
						<option value="" disabled selected>Select Faculty</option>
						@foreach (var faculty in ViewData["Faculties"] as string[])
						{
							<option>@faculty</option>
						}
					</select>
				</div>
				<div class="form-group">
					<label for="specialization">Specialization:</label>
					<select id="specialization" name="Specialization" asp-for="Specialization" class="form-group1" required>
						<option value="" disabled selected>Select Specialization</option>
					</select>
				</div>
	
				<div class="radio-buttons">
					<label for="Input.Student" class="radio-label">
						Student
						<input type="radio" id="Input.Student" name="Role" value="Student" class="radio-input" required />
					</label>
					<label for="Input.Lecturer" class="radio-label">
						Lecturer
						<input type="radio" id="Input.Lecturer" name="Role" value="Lecturer" class="radio-input" required />
					</label>
                </div>
				<button type="submit" class="btn-primary">Register</button>
            </form>
            <p style="margin-top: 10px;">
				<div class="text-align-center">
                    <a style="color: #f5eff5;">Already have an account? </a>
                    <a class="login-link" asp-action="Index" asp-controller="LogIn" class="login-link">
                        <b>Log in here...</b>
                    </a>
				</div>
			</p>
		</div>
	</div>
</div>

<script>
	document.getElementById('faculty').addEventListener('change', function () {
		var firstDropdown = document.getElementById('faculty');
		var secondDropdown = document.getElementById('specialization');
		var selectedValue = firstDropdown.value;

		// Clear existing options in the second dropdown
		secondDropdown.innerHTML = '';
		defaultOption = document.createElement('option');
		defaultOption.value = "Select specialization";
		defaultOption.textContent = "Select specialization";
		defaultOption.selected = true;
		defaultOption.disabled = true;
		secondDropdown.appendChild(defaultOption);

		//I love switch cases <3
		switch (selectedValue) {
			case 'Mathematics and Informatics':
				var options = ['Program systems', 'Informatics'];
				break;
			case 'Chemistry and Geosciences':
				var options = ['Chemistry', 'Geology'];
				break;
			case 'Physics':
				var options = ['Chemistry', 'Geology'];
				break;
			case 'Filology':
				var options = ['English filology', 'Lithuanian filology'];
				break;
		}
		options.forEach(function (option) {
			var optionElement = document.createElement('option');
			optionElement.value = option;
			optionElement.textContent = option;
			secondDropdown.appendChild(optionElement);
		});
	});
</script>